.panda-bg-info{
    background-color: #fceae8;
}

.categories img{
    width: 100px;
}
.panda-btn-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    text-align: center;
}

.panda-footer-bg{
    color: #616161;
    font-size: 2rem;
    background: #57837B;
    text-shadow: #e0e0e0 1px 1px 0; 
}